<!DOCTYPE html>
<html>
<head>
  <title>All Sorts</title>
  <link href="stylesheets/all-sorts-touch.css" rel="stylesheet" type="text/css" media="screen"/>
  <script src="javascripts/sencha-touch.js" type="text/javascript" charset="utf-8"></script>
  <%= link_scripts %>
  <link rel="shortcut icon" href="/favicon.ico" >
</head>
<body>

<%= templates %>

</body>
</html>
