  <ol class="league">
    <tpl for=".">
      <li>

        <p class="noun_phrase">
          {article}
          <a href="#collectors/{collector_slug}" class="collector">{collector}</a>
          of
          <a href="#nouns/{noun_slug}" class="noun">{noun}</a>

          <span class="seed">
            seeded&nbsp;by&nbsp;<a href="http://twitter.com/{seed.user_name}/status/{seed.tweet_id}" class="status_link">{seed.user_name}</a>
          </span>

          <tpl if="vote_count &amp;gt; 1">
            <span class="votes">
              #{vote_count}&nbsp;votes
            </span>
          </tpl>
        </p>

        <tpl if="vote_count &amp;gt; 1">
          <ol>
            <tpl for="votes">
              <li>
                <a href="http://twitter.com/{user_name}/status/{tweet_id}" class="status_link">{user_name}</a>
              </li>
            </tpl>
          </ol>
        </tpl>

      </li>
    </tpl>
  </ol>
